$darkGray: #474955;
$green: #7EBC3C;

.pagination-container {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 18px;
  font-weight: 700;

  .pagination-item {
    padding: 0 12px;
    height: 32px;
    text-align: center;
    margin: auto 4px;
    color: $darkGray;
    display: flex;
    align-items: center;
    border-radius: 16px;

    a {
    text-decoration: none;
    color: inherit;
    }

    .arrow {
      font-size: 24px;
      font-weight: 500;
    }

    &:first-of-type {
      margin-right: auto;
      margin-left: 25px;
    }

    &:last-of-type {
      margin-left: auto;
      margin-right: 25px;
    }
    

    &:hover {
      color: $green;
      cursor: pointer;
    }

    &.selected {
      color: $green;
    }

    &.disabled {
      pointer-events: none;

      &:hover {
        background-color: transparent;
        cursor: default;
      }
    }
  }
}
