/* TABLE STYLES */
.postsTable {
  text-align: center;
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;
  font-size: 13px;
}

.postsTable tr {
  line-height: 18px;
}

.postsTable thead th {
  color: #ffffff;
  background-color: var(--darkgray);
  width: 50%;
  height: 50px;
}

.postsTable thead th:first-of-type {
  width: 10%;
}

.postsTable thead th:last-of-type {
  width: 40%;
}

.postsTable td {
  border: 1px solid var(--lightgray);
  padding: 7px;
}

.postsTable td:not(:first-of-type) {
  text-align: left;
}

table td div {
  height: 50px;
  overflow-y: hidden;
  text-overflow: ellipsis;
}
